In [ ]:
import sqlite3
import psycopg2

In [ ]:
s_conn = sqlite3.connect('rpg_db.sqlite3')

In [ ]:
dbname='wtjnvyve'
user='wtjnvyve'
password='APZ5ovhYkyOh9P0ml48zitzoclq9mI0r'
host='chunee.db.elephantsql.com'

In [ ]:
p_con = psycopg2.connect(dbname=dbname,user=user,password=password,host=host)

In [7]:
p_cur = p_con.cursor()

NameError: name 'p_con' is not defined

In [ ]:
rows = p_cur.execute("SELECT name, value,wirght from armory_item;").fetchall()
print(rows)

In [6]:
p_cur.execute("""CREATE TABLE armory_item(item_id SERIAL PRIMARY KEY, name VARCHAR(30),value INTEGER, weight INTEGER)""")

NameError: name 'p_cur' is not defined

In [ ]:
values = ','.join(['%s']*len(rows))
insert_query='INSERT INTO armory_item (name,value,weight) values{}'.format(values)

In [ ]:
p_cur.execute(insert_query,rows)

In [ ]:
p_cur.execute ("SELECT * FROM armory_item;")

In [ ]:
p_con.commit()

A little something I wanted to share that should work with both sqlite3 and psycopg2.

Say you wanted to create a DataFrame from a query that you execute but, you didn't want to hard-code the column names. 

PRAGMA table_info('<table>') would work in sqlite if you were getting all the columns from a particular table but, it might not work unless you create an innerQuery.
    
Something you can do instead in your code is, first, executing your query.
    
    Then, you can use a list comprehension to build a list of column names from your query like this:

In [ ]:
query = """SELECT * FROM charactercreator_character;"""

records = curs.execute(query).fetchall()

columns = [d[0] for d in curs.description]

columns should then contain a list of column names returned from your query

import sqlite3

conn = sqlite3.connect('rpg_sqlite3')

cur = conn.cursor()

result = cur.execute("SELECT = from armor_item;")

result,fetchone()

result.fetchall()

query = "SELECT * from armor_item;"

result = cur.execute(query)

result.fetchmany(10)

conn.close()

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('rpg_db.sqlite3')

In [3]:
cur = conn.cursor()

In [4]:
result = cur.execute("SELECT * from armory_item;")

In [5]:
result.fetchone()

(1, 'Libero facere dolore, as', 0, 0)

In [ ]:
result.fetchall()

In [10]:
query = "SELECT * from armory_item;"

In [24]:
result = cur.execute(query)

In [26]:
list = result.fetchall()

In [ ]:
conn.close()