In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import json
from ast import literal_eval
pd.set_option('display.max_columns', None)

In [22]:
df = pd.read_csv("./Kickstarter015.csv")

In [24]:
cols_to_drop = ['created_at', 'is_backing','deadline', 'launched_at', 'state_changed_at', 'urls', 'source_url', 'photo', 'permissions', 'friends', 'is_starrable','disable_communication','is_starred', 'blurb','currency_symbol','slug','name','creator']

In [25]:
df = df.drop(columns=cols_to_drop)

In [26]:
df

,backers_count,category,converted_pledged_amount,country,currency,currency_trailing_code,current_currency,fx_rate,goal,id,location,pledged,profile,spotlight,staff_pick,state,static_usd_rate,usd_pledged,usd_type
0,140,"{""id"":35,""name"":""Video Games"",""slug"":""games/vi...",13272,CA,CAD,True,USD,0.766388,315.0,2064776327,"{""id"":4118,""name"":""Toronto"",""slug"":""toronto-on...",16987.0,"{""id"":2392547,""project_id"":2392547,""state"":""in...",True,False,successful,0.756822,12856.141769,domestic
1,123,"{""id"":304,""name"":""Bacon"",""slug"":""food/bacon"",""...",8742,US,USD,True,USD,1.000000,8000.0,1400337454,"{""id"":2463174,""name"":""Oak Park"",""slug"":""oak-pa...",8742.0,"{""id"":1231322,""project_id"":1231322,""state"":""in...",True,False,successful,1.000000,8742.000000,domestic
2,4,"{""id"":332,""name"":""Apps"",""slug"":""technology/app...",620,US,USD,True,USD,1.000000,100000.0,1219983713,"{""id"":2488836,""name"":""Santa Clara"",""slug"":""san...",620.0,"{""id"":3647622,""project_id"":3647622,""state"":""in...",False,False,failed,1.000000,620.000000,domestic
3,2,"{""id"":361,""name"":""Web"",""slug"":""journalism/web""...",2,US,USD,True,USD,1.000000,800.0,210697106,"{""id"":2398081,""name"":""Elburn"",""slug"":""elburn-i...",2.0,"{""id"":2448666,""project_id"":2448666,""state"":""in...",False,False,failed,1.000000,2.000000,domestic
4,3,"{""id"":328,""name"":""Young Adult"",""slug"":""publish...",51,US,USD,True,USD,1.000000,3000.0,27524816,"{""id"":2450022,""name"":""Miami"",""slug"":""miami-fl""...",51.5,"{""id"":1989796,""project_id"":1989796,""state"":""in...",False,False,failed,1.000000,51.500000,domestic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3760,2,"{""id"":20,""name"":""Conceptual Art"",""slug"":""art/c...",82,US,USD,True,USD,1.000000,5000.0,694344478,"{""id"":2466256,""name"":""Orlando"",""slug"":""orlando...",82.0,"{""id"":3013076,""project_id"":3013076,""state"":""in...",False,False,failed,1.000000,82.000000,domestic
3761,87,"{""id"":361,""name"":""Web"",""slug"":""journalism/web""...",4209,GB,GBP,False,USD,1.243823,3000.0,1383797686,"{""id"":56014254,""name"":""Kuching"",""slug"":""kuchin...",3428.0,"{""id"":2744783,""project_id"":2744783,""state"":""in...",True,True,successful,1.239729,4249.790498,domestic
3762,120,"{""id"":280,""name"":""Photobooks"",""slug"":""photogra...",20181,US,USD,True,USD,1.000000,10000.0,685029181,"{""id"":2391585,""name"":""Detroit"",""slug"":""detroit...",20181.0,"{""id"":3281051,""project_id"":3281051,""state"":""in...",True,True,successful,1.000000,20181.000000,domestic
3763,22,"{""id"":301,""name"":""Science Fiction"",""slug"":""fil...",690,US,USD,True,USD,1.000000,2000.0,1159446880,"{""id"":2510530,""name"":""Utica"",""slug"":""utica-ny""...",690.0,"{""id"":1867979,""project_id"":1867979,""state"":""in...",False,False,failed,1.000000,690.000000,domestic
3764,36,"{""id"":293,""name"":""Drama"",""slug"":""film & video/...",1933,GB,GBP,False,USD,1.243823,20000.0,629306348,"{""id"":21125,""name"":""Glasgow"",""slug"":""glasgow-g...",1472.0,"{""id"":3035386,""project_id"":3035386,""state"":""in...",False,False,failed,1.281572,1886.473263,domestic

In [27]:
cat_id = literal_eval(df['category'][0])['id']
cat_id

35

In [28]:
from ast import literal_eval
cat_name = literal_eval(df['category'][0])['name']
cat_name

'Video Games'

In [29]:
cat_slug = test = literal_eval(df['category'][0])['slug']
cat_slug

'games/video games'

In [30]:
df['profile']

0       {"id":2392547,"project_id":2392547,"state":"in...
1       {"id":1231322,"project_id":1231322,"state":"in...
2       {"id":3647622,"project_id":3647622,"state":"in...
3       {"id":2448666,"project_id":2448666,"state":"in...
4       {"id":1989796,"project_id":1989796,"state":"in...
                              ...
3760    {"id":3013076,"project_id":3013076,"state":"in...
3761    {"id":2744783,"project_id":2744783,"state":"in...
3762    {"id":3281051,"project_id":3281051,"state":"in...
3763    {"id":1867979,"project_id":1867979,"state":"in...
3764    {"id":3035386,"project_id":3035386,"state":"in...
Name: profile, Length: 3765, dtype: object

In [31]:
df['category']

0       {"id":35,"name":"Video Games","slug":"games/vi...
1       {"id":304,"name":"Bacon","slug":"food/bacon","...
2       {"id":332,"name":"Apps","slug":"technology/app...
3       {"id":361,"name":"Web","slug":"journalism/web"...
4       {"id":328,"name":"Young Adult","slug":"publish...
                              ...
3760    {"id":20,"name":"Conceptual Art","slug":"art/c...
3761    {"id":361,"name":"Web","slug":"journalism/web"...
3762    {"id":280,"name":"Photobooks","slug":"photogra...
3763    {"id":301,"name":"Science Fiction","slug":"fil...
3764    {"id":293,"name":"Drama","slug":"film & video/...
Name: category, Length: 3765, dtype: object

In [32]:
# new = json.loads(df['category'])

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3765 entries, 0 to 3764
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   backers_count             3765 non-null   int64
 1   category                  3765 non-null   object
 2   converted_pledged_amount  3765 non-null   int64
 3   country                   3765 non-null   object
 4   currency                  3765 non-null   object
 5   currency_trailing_code    3765 non-null   bool
 6   current_currency          3765 non-null   object
 7   fx_rate                   3765 non-null   float64
 8   goal                      3765 non-null   float64
 9   id                        3765 non-null   int64
 10  location                  3759 non-null   object
 11  pledged                   3765 non-null   float64
 12  profile                   3765 non-null   object
 13  spotlight                 3765 non-null   bool
 14  staff_pick                3765 non-null   bool
 15  state                     3765 non-null   object
 16  static_usd_rate           3765 non-null   float64
 17  usd_pledged               3765 non-null   float64
 18  usd_type                  3761 non-null   object
dtypes: bool(3), float64(5), int64(3), object(8)
memory usage: 481.8+ KB

In [34]:
def null_count_df(df):
    frame=pd.DataFrame()
    frame['missing_no']=df.isnull().sum()
    frame['missing_rate']=df.isnull().sum()/len(df)
    frame=frame.loc[frame['missing_rate']>0].sort_values(by='missing_rate',ascending=False)
    frame['bigger_005']=frame['missing_rate'].map(lambda x:1 if x>=0.05 else 0)
    return frame

In [35]:
null_count_df(df)

          missing_no  missing_rate  bigger_005
location           6      0.001594           0
usd_type           4      0.001062           0

In [36]:
df['spotlight']

0        True
1        True
2       False
3       False
4       False
        ...
3760    False
3761     True
3762     True
3763    False
3764    False
Name: spotlight, Length: 3765, dtype: bool

In [37]:
zero_count(df)

NameError: name 'zero_count' is not defined

In [ ]:
df['spotlight'].value_counts()

In [ ]:
df['category'].value_counts()